body {
    background-color: lightgray;
    color: black;
    font-family: "Segoe UI", Calibri, Futura, Geneva, Verdana, Arial, sans-serif;
}

h1, h2, h3 {
    font-weight: normal;
}

#page-wrap {
    max-width: 1000px;/*1400px;*/
    margin: 0 auto;
}

.download-button:link, .download-button:visited {
	display: block;
	max-width: 250px;
	text-align: center;
    padding: 1em;
	margin: 0;
    border-radius: 10px;
    background-color: limegreen;
    color: white;
	text-shadow: 1px 1px black;
    font-size: 1.2em;
}

.download-button:hover {
    background-color: lime;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex div {
    background-color: white;
    float: left;
    width: 20%;
    margin: 0.5%;
    padding: 0 1em;
}

.flex div:hover {
	box-shadow: 5px 5px 3px gray;
}

.reference-category {
    background-color: white;
    padding: 0.5em 1.5em;
}

.reference-item {
    background-color: white;
    padding: 0.5em 2em;
    margin: 1em 0;
}

.content-box {
	background-color: white;
	padding: 0.5em 2em;
	margin: 1em 5em;
}

.important {
    background-color: lightblue;
    padding: 1em;
}

div.important {
    background-color: lightblue;
    padding: 0.1em 1em;
}

.go-to-top {
    text-align: right;
}

ul li {
    list-style-type: circle;
}

h3 a, h3 a:link, h3 a:visited {
    color: black;
    text-decoration: none;
}

h3 a:hover {
    color: lightblue;
}

a:link, p.go-to-top a:visited {
    color: cadetblue;
    text-decoration: none;
}

a:visited {
    color: darkcyan;
}

a:hover, p.go-to-top a:hover {
    color: aquamarine;
}

pre {
    padding: 0.75em;
    border-radius: 15px;
    color: white;
    background-color: #9E9E9E;
    white-space: pre-wrap;
    overflow: auto;
}

img {
	max-width: 30%;
}

.left {
	float: left;
	margin-right: 2em;
}

.right {
	float: right;
	margin: 0;
}

.clearfix {
	clear: both;
}